# How-to-count-distance-to-the-previous- For each value, count the difference of the distance from the previous zero (or the start of the Series, whichever is closer) and if there are no previous zeros,print the position Consider a DataFrame df where there is an integer column {'X':[7, 2, 0, 3, 4, 2, 5, 0, 3, 4]}

In [29]:
import pandas as pd
import numpy as np

df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})

# indices of zeros 
izero = np.r_[-1, (df['X']==0).nonzero()[0]] 

print(izero)
idx = np.arange(len(df))
print(idx)
df['Y'] = idx - izero[np.searchsorted(izero - 1, idx) - 1]
print(df)

[-1  2  7]
[0 1 2 3 4 5 6 7 8 9]
   X  Y
0  7  1
1  2  2
2  0  0
3  3  1
4  4  2
5  2  3
6  5  4
7  0  0
8  3  1
9  4  2

# Create a DatetimeIndex that contains each business day of 2015 and use it to index a series of random numbers.

In [24]:
# import pandas and numpy linrary
import pandas as pd
import numpy as np

# create data frame based on date range 
df=pd.date_range(start='2015-01-01', end='2015-12-31', freq='B')
print(df)

# use data frame as index of series with uniform distribution
s = pd.Series(np.random.rand(len(df)), index=df)

#display series
print(s)

DatetimeIndex(['2015-01-01', '2015-01-02', '2015-01-05', '2015-01-06',
               '2015-01-07', '2015-01-08', '2015-01-09', '2015-01-12',
               '2015-01-13', '2015-01-14',
               ...
               '2015-12-18', '2015-12-21', '2015-12-22', '2015-12-23',
               '2015-12-24', '2015-12-25', '2015-12-28', '2015-12-29',
               '2015-12-30', '2015-12-31'],
              dtype='datetime64[ns]', length=261, freq='B')
2015-01-01    0.563954
2015-01-02    0.232582
2015-01-05    0.157079
2015-01-06    0.914568
2015-01-07    0.084408
2015-01-08    0.990068
2015-01-09    0.134881
2015-01-12    0.158654
2015-01-13    0.590610
2015-01-14    0.992181
2015-01-15    0.684053
2015-01-16    0.710409
2015-01-19    0.928257
2015-01-20    0.621457
2015-01-21    0.273638
2015-01-22    0.340242
2015-01-23    0.149537
2015-01-26    0.048957
2015-01-27    0.981807
2015-01-28    0.507232
2015-01-29    0.781272
2015-01-30    0.660105
2015-02-02    0.245999
2015-02-03    0.482381
2015-02-04    0.212792
2015-02-05    0.897280
2015-02-06    0.741986
2015-02-09    0.762676
2015-02-10    0.977562
2015-02-11    0.657150
                ...
2015-11-20    0.805432
2015-11-23    0.712908
2015-11-24    0.317329
2015-11-25    0.881929
2015-11-26    0.464913
2015-11-27    0.059254
2015-11-30    0.775424
2015-12-01    0.058600
2015-12-02    0.364151
2015-12-03    0.490698
2015-12-04    0.040503
2015-12-07    0.638012
2015-12-08    0.166838
2015-12-09    0.398590
2015-12-10    0.628366
2015-12-11    0.901966
2015-12-14    0.393255
2015-12-15    0.554747
2015-12-16    0.379905
2015-12-17    0.658166
2015-12-18    0.861518
2015-12-21    0.559504
2015-12-22    0.468115
2015-12-23    0.161344
2015-12-24    0.300772
2015-12-25    0.970700
2015-12-28    0.881721
2015-12-29    0.228456
2015-12-30    0.566300
2015-12-31    0.709731
Freq: B, Length: 261, dtype: float64

# Find the sum of the values in s for every Wednesday.

In [25]:
s[df.weekday == 2].sum()

26.75211810436306

# Average For each calendar month

In [22]:
s.resample('M').mean()

2015-01-31    0.468720
2015-02-28    0.468782
2015-03-31    0.461620
2015-04-30    0.524486
2015-05-31    0.466876
2015-06-30    0.466109
2015-07-31    0.620026
2015-08-31    0.367347
2015-09-30    0.538961
2015-10-31    0.571364
2015-11-30    0.520232
2015-12-31    0.466125
Freq: M, dtype: float64

# For each group of four consecutive calendar months in s, find the date on which the highest value occurred.

In [21]:
s.groupby(pd.Grouper(freq='4M')).idxmax()

2015-01-31   2015-01-15
2015-05-31   2015-05-07
2015-09-30   2015-09-02
2016-01-31   2015-11-11
dtype: datetime64[ns]